@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#app {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  cursor: default;
  scroll-behavior: smooth;
}

.top-blog-2 {
  height: 200px;
  background: #ed1c25;
  position: relative;
  color: white;
}

.top-blog-2 .back-button {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 100px;
}

.back-button .back-text {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.top-blog-2 .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.title .title-name {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}

.title .title-path {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.top-blog-2 .button-lang {
  position: absolute;
  top: 86px;
  right: 150px;
}

.top-blog-2 .button-lang button {
  background: none;
  border: none;
  padding: 0;
}

.top-blog-2 .bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-blog-2 {
  background: #f1f5f5;
}

.navbar-blog-2 .list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 50px;
  gap: 50px;
}

.navbar-blog-2 .link-about,
.navbar-blog-2 .link-blog,
.navbar-blog-2 .link-blog {
  display: flex;
  align-items: center;
  height: 28px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.navbar-blog-2 .link-blog {
  color: #061951;
}

.navbar-blog-2 .link-about,
.navbar-blog-2 .link-blog {
  color: #1f1f1f33;
}

.header-blog-2 {
  background: #f1f5f5;
  padding-top: 50px;
}

.header-blog-2 .content {
  background: #f1f5f5;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  padding-left: 150px;
  padding-right: 150px;
}

.header-blog-2 h1 {
  color: black;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}

.header-blog-2 .search-bar {
  background: url(../buttons/search-box.svg);
  border-radius: 10px;
  height: 36px;
  width: 400px;
  align-self: flex-end;
  display: flex;
}

.header-blog-2 .search-bar input {
  border: none;
  outline: none;
  padding-left: 40px;
  background: transparent;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

.header-blog-2 .search-bar input::placeholder {
  color: #1f1f1f66;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

.latest-blog-2 {
  background: #f1f5f5;
  padding-bottom: 30px;
}

.latest-blog-2 .content {
  max-width: 1440px;
  margin: 0 auto;
}

.latest-blog-2 .content h3 {
  padding-left: 150px;
  margin-bottom: 20px;
}

.latest-blog-2 .blog-main {
  height: 400px;
  width: 1140px;
  background: white;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.latest-blog-2 .blog-main .image {
  height: 100%;
  width: 570px;
  background: url(../images/blog/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-blog-2 .blog-main .text .date {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #1f1f1f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.latest-blog-2 .blog-main .text {
  display: flex; /* Menambahkan flexbox */
  align-items: center; /* Untuk perataan vertikal tengah */
}

.latest-blog-2 .blog-main .text .blog-desc {
  display: flex; /* Menambahkan flexbox */
  flex-direction: column; /* Menjadikan anak-anaknya berderet vertikal */
  gap: 30px;
  padding-left: 30px;
  justify-content: center; /* Perataan horizontal tengah */
}

.latest-blog-2 .blog-main .text .blog-desc h2 {
  color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.latest-blog-2 .blog-main .text .blog-desc .paragraph {
  color: #290f20cc;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  width: 506px;
  height: 120px;
}

.latest-blog-2 .blog-main .text .blog-desc .keywords {
  display: flex;
  gap: 10px;
}

.latest-blog-2 .blog-main .text .blog-desc .keywords p {
  color: #ed1c25;
  background: #ed1c2533;
  padding: 4px 10px;
  border-radius: 14px;
}

.other-blogs {
  background: #f1f5f5;
}

.other-blogs .content {
  max-width: 1140px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Ini memungkinkan blog-box untuk wrap ke baris baru */
  gap: 30px;
}

.other-blogs .blog-box {
  height: 550px;
  width: calc(50% - 15px); /* Lebar maksimal 2 blog-box dalam satu baris */
}

/* Styling untuk blog-box Anda lainnya */

.other-blogs .blog-box .image {
  background: url(../images/blog/2.png);
  height: 291px;
  width: 100%;
}

.other-blogs .blog-box .desc {
  background: white;
  height: 259px;
  width: 100%;
  position: relative;
}

.other-blogs .blog-box .desc h2 {
  position: absolute;
  padding-top: 30px;
  padding-left: 20px;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.other-blogs .blog-box .desc .date {
  position: absolute;
  right: 20px;
  padding-top: 44px;
  color: #1f1f1f99;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.other-blogs .blog-box .desc .paragraph {
  color: #290f20cc;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  width: 515px;
  margin: 0 auto;
  padding-top: 79px;
  margin-left: 20px;
  margin-right: 20px;
}

.other-blogs .blog-box .desc .keywords {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-left: 20px;
}

.other-blogs .blog-box .desc .keywords p {
  color: #ed1c25;
  background: #ed1c2533;
  padding: 4px 10px;
  border-radius: 14px;
}

.other-blogs .blog-box .blog-read-more {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

